.user-details {
    .user-info {
        max-width: 50rem;
        margin: auto;
        border: var(--main-border);
        padding: 2rem;
        display: grid;
        gap: 1rem;
        .fa-user-circle {
            font-size: 10rem;
            display: block;
            margin: auto;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            i {
                color: var(--light-color);
            }
            span {
                color: var(--black-color);
            }
        }
        .box {
            margin-top: 1rem;
            padding: 0.5rem 0;
            border: var(--main-border);
            font-size: 1.5rem;
        }
        .btn {
            width: fit-content;
        }
    }
}
