@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap");

//________________________________________
// Global Settings
//________________________________________

* {
    margin: 0;
    padding: 0;
    font-family: "Cairo", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: var(--main-transition);
}

*::selection {
    background-color: var(--main-color);
    color: var(--white-color);
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    stop-opacity: 7rem;
}

section {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

.btn,
.delete-btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    cursor: pointer;

    &:hover {
        letter-spacing: 2px;
    }
}

.btn {
    background-color: var(--main-color);
    color: var(--black-color);
}

.delete-btn {
    background-color: var(--second-color);
    color: var(--white-color);
}

img {
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
}

//________________________________________
// Header Section
//________________________________________
@import "_header";
//________________________________________
// Footer Section
//________________________________________
@import "_footer";

//________________________________________
// Custom Swiper
//________________________________________

@import "_custom-swiper";

//________________________________________
// Home Page
//________________________________________
@import "_home";

//________________________________________
// About Page
//________________________________________
@import "_about";

//________________________________________
// Contact Page
//________________________________________
@import "_contact";

//________________________________________
// Search Page
//________________________________________
@import "_search";

//________________________________________
// Cart Page
//________________________________________
@import "_cart";
