@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap");
:root {
  --main-color: #fed330;
  --second-color: #e74c3c;
  --white-color: #ffffff;
  --black-color: #222;
  --light-color: #777;
  --main-border: 0.2rem solid var(--black-color);
  --main-transition: all 0.2s;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: var(--main-transition);
  transition: var(--main-transition);
}

*::-moz-selection {
  background-color: var(--main-color);
  color: var(--white-color);
}

*::selection {
  background-color: var(--main-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  stop-opacity: 7rem;
}

section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1.5rem;
}

.btn,
.delete-btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.btn:hover,
.delete-btn:hover {
  letter-spacing: 2px;
}

.btn {
  background-color: var(--main-color);
  color: var(--black-color);
}

.delete-btn {
  background-color: var(--second-color);
  color: var(--white-color);
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  vertical-align: middle;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  inset: 0;
  bottom: initial;
  z-index: 1000;
  background-color: var(--white-color);
  border-bottom: var(--main-border);
}

.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .flex .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .flex .logo img {
  max-width: 40px;
}

.header .flex .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  text-align: center;
}

.header .flex .navbar a {
  font-size: 2rem;
  color: var(--black-color);
}

.header .flex .navbar a:hover {
  color: var(--main-color);
}

.header .flex .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header .flex .icons > * {
  font-size: 2rem;
  color: var(--black-color);
  cursor: pointer;
}

.header .flex .icons > *:hover {
  color: var(--main-color);
}

.header .flex .icons > * span {
  font-size: 1.5rem;
}

.header .flex .icons #menu-btn {
  display: none;
}

.header .flex .profile {
  background-color: var(--white-color);
  border: var(--main-border);
  padding: 1.5rem;
  text-align: center;
  position: absolute;
  top: 120%;
  right: -100%;
  width: 20rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .flex .profile.active {
  opacity: 1;
  right: 2rem;
}

.header .flex .profile .name {
  font-size: 1.5rem;
  color: var(--black-color);
}

.header .flex .profile .account {
  font-size: 1.5rem;
  color: var(--light-color);
}

.header .flex .profile .account a {
  color: var(--black-color);
}

.header .flex .profile .account a:hover {
  color: var(--main-color);
  text-decoration: underline;
}

.footer .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .grid .box {
  border: var(--main-border);
  padding: 2rem;
  text-align: center;
}

.footer .grid .box .icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--black-color);
}

.footer .grid .box h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--black-color);
}

.footer .grid .box a,
.footer .grid .box p {
  color: var(--light-color);
  display: block;
  font-size: 1.2rem;
}

.footer .grid .box a:hover {
  text-decoration: underline;
}

.footer .credit {
  padding: 1.5rem;
  text-align: center;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 1.4rem;
}

.footer .credit span {
  color: var(--main-color);
}

.swiper {
  width: 100%;
  height: 85vh;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  background-color: var(--main-color);
}

.hero {
  padding-top: 2rem;
}

.hero .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 2rem;
}

.hero .slide .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  max-width: 400px;
}

.hero .slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  text-align: center;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.hero .slide .content span {
  font-size: 2.5rem;
  color: var(--light-color);
}

.hero .slide .content h3 {
  font-size: 4.5rem;
  color: var(--black-color);
}

.hero .slide .content a {
  margin: auto;
}
/*# sourceMappingURL=main.css.map */